In [1]:
print ('Hello DataYard')

Hello DataYard

In [2]:
5**2

25

(*) For Multiplication
(**) for Power
+,-,/ Basic Operands

In [3]:
print(2-5)

-3

In [5]:
principal = 100
rate = 0.1
num_years = 7

amount = principal * (1 + rate) ** num_years

print(f"After {num_years} years, you will have {amount:.2f} dollars.")

After 7 years, you will have 194.87 dollars.

In [7]:
items= 10
price = 2
returned= 3
net_items= items-returned
print('My remianing items are:', net_items)

My remianing items are: 7

In [15]:
var1 = 'first sent'  # saving in variable
var2 = 'second sent'  # saving in variable
print(var1, var2, 'third variable')  # Directly printing third variable with var1 and var2

first sent second sent third variable

In [ ]:
age = 22
print(f"This person is {age} years old.")

In [20]:
# prompt: # Write three strings, set two of them as variables 'first_sent' and "second_sent"

first_sent = 'I have\n'
second_sent = 'Done\n'
print(first_sent, second_sent, 'Cheers!')

I have
 Done
 Cheers!

In [21]:
x=4 # = for assigning
2==2 # == for equivalence

True